.graph__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.graph__ip {
    height: 30vh;
    overflow-y: scroll;
}

.graph__main div {
    margin-top: 5vh;
    width: 50vh;
}

@media only screen and (max-width: 725px) {
    .graph {
        display: flex;
        flex-direction: column;
    }

    .graph__main {
        flex-direction: column;
        align-items: center;
    }

    .canvas-container {
        width: 90vw !important;
    }
}
